.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    background: var(--first-color);
    color: #fff;
    display: flex;
    align-items: center;
}